div{
    background-color: lightblue;
    padding: 10px;
    
}

div img{
    width: 50px;
}

div ul{
    float:right;
    list-style-type: none;
}

div ul li{
    padding: 15px;
    display: inline-block;
}

div ul li a{
    text-decoration-line: none;
    color: white;
    cursor: pointer;
    transition: all 0.5s ease;
}

div ul li:hover{
    background-color: rgb(113, 204, 235);
}